#main-header {
    text-align: center;
}

#description {
    text-align: center;
}

section.title-and-form{
  padding: 1%;
  background-color: purple;
}
section.form-data-section {
    display: table;
    margin-left:auto; 
    margin-right: auto;
    position: relative;
  }
  
  div.form-data-section {
    display: table-row;
    /* float: left; */
  }
  

  div.form-data-section label, div.form-data-section input{
    display: table-cell;
    margin-bottom: 10px;
    /* width: 100%; */
  }


  body {
    background-color: black;
  }
  
  div.form-data-section label {
    padding-right: 10px;
  }

  div.form-data-section input {
    width: 100%;
  }

  div.submit-button{
    text-align: center;
  }

  .image-container {
    padding-top: 2%;
    position: relative;
    width: 100%;
    max-width: 800px; /* Adjust the width as needed */
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

img.mouseover, div.text-overlay-top.mouseover, div.text-overlay-bottom.mouseover{
  
  opacity: 0.5;
}



.text-overlay-top {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
   
    color: white; /* Set the text color */
}

.text-overlay-top p {
    /* font-size: 240px; */
    font-family: 'Arial', sans-serif;
    font-size: 200%;
    /* Add more styles as needed */
}

.text-overlay-bottom {
    position: absolute;
    bottom: 10%;
    left: 10%;
    right: 10%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
   
    color: white; /* Set the text color */
}

.text-overlay-bottom p {
    /* font-size: 240px; */
    font-family: 'Arial', sans-serif;
    font-size: 200%;
    /* Add more styles as needed */
}

.button-overlay {
  position: absolute;
  bottom: 50%;
  top: 50%;
  left: 50%;
  right: 50%;
  /* transform: translate(-50%, -50%); */
  text-align: center;
  size: 100%;
  color:white;
  background-color: aqua;
  display: none; 
 
  /* Set the text color */
}

.button {
  background-color: white;
  font-size: 32px;
  /* margin: 4px 2px;
  cursor: pointer;  */
  transform: translate(-50%, -50%);
  /* display:inline; */
}